<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="../css/agriculturaSustentavel/styleAgriculturaSustentavel.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&family=Titillium+Web&display=swap"
    rel="stylesheet">

  <title>Agricultura Sustentavel</title>
</head>

<body>

  <header>
    <div>
      <h1 class="logo">Proteção Pesada</h1>
    </div>
    <nav>
      <a id="homeButtonA" href="../../index.html">
        <button class="stdButton" id="homeButton"><span>Home</span></button>
      </a>
      <a href="#">
        <button class="stdButton"><span>Agricultura Sustentável</span></button>
      </a>
      <a href="./inteligenciaArtificial.html">
        <button class="stdButton"><span>Inteligências Artificiais</span></button>
      </a>
      <a href="./cultivoEficiente.html">
        <button class="stdButton"><span>Cultivo Eficiente</span></button>
      </a>
      <a id="interfaceButtonA" href="./projetoInterface.html">
        <button class="stdButton" id="interfaceButton"><span>Projeto Interface</span></button>
      </a>
      <a id="contactButtonA" href="./contato.html">
        <button href="./src/views/contato.html" class="stdButton" id="contactButton"><span>Contato</span></button>
      </a>
    </nav>
  </header>

  <main>
    <div id="midContentContainer">
      <div class="contentContainer">
        <figure>
          <img src="../img/agriculturaSustentavel1.jpg" alt="">
          <figcaption>Cultivando com respeito à natureza.</figcaption>
        </figure>
        <p>
          A agricultura sustentável preserva os recursos naturais, adota práticas regenerativas e promove a coexistência harmoniosa entre produção agrícola e meio ambiente.
        </p>
      </div>

      <div class="contentContainer">
        <figure>
          <img src="../img/agriculturaSustentavel2.jpg" alt="">
          <figcaption>Harmonia entre agricultura e meio ambiente.</figcaption>
        </figure>
        <p>
          Agricultura sustentável promove equilíbrio ambiental, preserva recursos naturais e garante segurança alimentar para as próximas gerações, com respeito à natureza.
        </p>
      </div>

      <div class="contentContainer">
        <figure>
          <img src="../img/agriculturaSustentavel3.jpg" alt="">
          <figcaption>Semeando um futuro sustentável.</figcaption>
        </figure>
        <p>
          Agricultura sustentável: respeito à biodiversidade, conservação do solo, uso responsável da água e produção de alimentos saudáveis para as gerações presentes e futuras.
        </p>
      </div>
    </div>
  </main>

  <footer>
    <p>
      No Copyright &copy 2023, copie à vontade. Design by Proteção Pesada
    </p>

    <ul>
      <li id="footerIntegrantes"><span>Integrantes:</span></li>
      <li><span>550200 - Leonardo Oliveira Esparza</span></li>
      <li><span>551821 - Lucas Serbato de Barros</span></li>
      <li><span>552421 - Flavio Sousa Vasconcelos</span></li>
      <li><span>552368 - Wellington Urcino da Silva</span></li>
      <li><span>550687 - Phablo Isaias Silva Santos</span></li>
    </ul>

    <div>
      <h3 class="logo">Proteção Pesada</h3>
    </div>

  </footer>
</body>

</html>