<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../css/cultivoEficiente/styleCultivoEficiente.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&family=Titillium+Web&display=swap"
        rel="stylesheet">

    <title>Cultivo Eficiente</title>
</head>

<body>

    <header>
        <div>
          <h1 class="logo">Proteção Pesada</h1>
        </div>
        <nav>
          <a id="homeButtonA" href="../../index.html">
            <button class="stdButton" id="homeButton"><span>Home</span></button>
          </a>
          <a href="./agriculturaSustentavel.html">
            <button class="stdButton"><span>Agricultura Sustentável</span></button>
          </a>
          <a href="./inteligenciaArtificial.html">
            <button class="stdButton"><span>Inteligências Artificiais</span></button>
          </a>
          <a href="#">
            <button class="stdButton"><span>Cultivo Eficiente</span></button>
          </a>
          <a id="interfaceButtonA" href="./projetoInterface.html">
            <button class="stdButton" id="interfaceButton"><span>Projeto Interface</span></button>
          </a>
          <a id="contactButtonA" href="./contato.html">
            <button href="./src/views/contato.html" class="stdButton" id="contactButton"><span>Contato</span></button>
          </a>
        </nav>
      </header>

    <main>
        <div id="midContentContainer">
            <div class="contentContainer">
                <figure>
                    <img src="../img/cultivoEficiente1.jpg" alt="">
                    <figcaption>Cultivo sustentável: mais com menos.</figcaption>
                </figure>
                <p>
                  Cultivo eficiente maximiza recursos, aumenta produtividade e promove sustentabilidade, garantindo alimentos de qualidade para uma população crescente.
                </p>
            </div>

            <div class="contentContainer">
                <figure>
                    <img src="../img/cultivoEficiente1.jpg" alt="">
                    <figcaption>Eficiência agrícola: colheitas abundantes.</figcaption>
                </figure>
                <p>
                  A agricultura sustentável preserva os recursos naturais, adota práticas regenerativas e promove a coexistência harmoniosa entre produção agrícola e meio ambiente.
                </p>
            </div>

            <div class="contentContainer">
                <figure>
                    <img src="../img/cultivoEficiente1.jpg" alt="">
                    <figcaption>Tecnologia otimiza o cultivo.</figcaption>
                </figure>
                <p>Cultivo eficiente: tecnologias inovadoras, manejo preciso e uso inteligente de recursos para otimizar a produção agrícola de forma sustentável.</p>
            </div>

        </div>
    </main>

    <footer>
        <p>
            No Copyright &copy 2023, copie à vontade. Design by Proteção Pesada
        </p>

        <ul>
            <li id="footerIntegrantes"><span>Integrantes:</span></li>
            <li><span>550200 - Leonardo Oliveira Esparza</span></li>
            <li><span>551821 - Lucas Serbato de Barros</span></li>
            <li><span>552421 - Flavio Sousa Vasconcelos</span></li>
            <li><span>552368 - Wellington Urcino da Silva</span></li>
            <li><span>550687 - Phablo Isaias Silva Santos</span></li>
        </ul>

        <div>
            <h3 class="logo">Proteção Pesada</h3>
        </div>

    </footer>
</body>


</html>