<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../style/styleInteligenciaArtificial.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&family=Titillium+Web&display=swap"
        rel="stylesheet">

    <title>Inteligência Artificial</title>
</head>

<body>

    <header>
        <div>
            <h1 class="logo">SmartHydro</h1>
        </div>
        <nav>
            <a id="homeButtonA" href="../../index.html">
                <button class="stdButton" id="homeButton"><span>Home</span></button>
            </a>
            <a href="./agriculturaSustentavel.html">
                <button class="stdButton"><span>Agricultura Sustentável</span></button>
            </a>
            <a href="#">
                <button class="stdButton"><span>Inteligências Artificiais</span></button>
            </a>
            <a href="./cultivoEficiente.html">
                <button class="stdButton"><span>Cultivo Eficiente</span></button>
            </a>
            <a id="interfaceButtonA" href="./projetoInterface.html">
                <button class="stdButton" id="interfaceButton"><span>Projeto Interface</span></button>
            </a>
            <a id="contactButtonA" href="./contato.html">
                <button href="./src/views/contato.html" class="stdButton"
                    id="contactButton"><span>Contato</span></button>
            </a>
        </nav>
    </header>

    <main>
        <div id="midContentContainer">
            <div class="contentContainer">
                <figure>
                    <img src="../img/inteligenciaArtificial1.jpg" alt="">
                    <figcaption>Inovação transformada pela inteligência artificial.</figcaption>
                </figure>
                <p>
                    A inteligência artificial revoluciona nossa sociedade, trazendo avanços tecnológicos, automação
                    inteligente e possibilidades infinitas para o futuro.
                </p>
            </div>

            <div class="contentContainer">
                <figure>
                    <img src="../img/inteligenciaArtificial2.jpg" alt="">
                    <figcaption>Tecnologia revolucionária impulsionada pela IA.</figcaption>
                </figure>
                <p>
                    Inteligência Artificial: avanços revolucionários impulsionando a automação, tomada de decisão
                    inteligente e transformando nossa interação com a tecnologia.
                </p>
            </div>

            <div class="contentContainer">
                <figure>
                    <img src="../img/inteligenciaArtificial3.jpg" alt="">
                    <figcaption>Aprendizado automatizado impulsionando avanços tecnológicos.</figcaption>
                </figure>
                <p>Inteligência Artificial: tecnologia que simula a capacidade humana de aprender, raciocinar e
                    solucionar problemas, impulsionando a inovação e transformando diversos setores.</p>
            </div>
        </div>
    </main>

    <footer>
        <p>
            No Copyright &copy 2023, copie à vontade. Design by SmartHydro
        </p>

        <ul>
            <li id="footerIntegrantes"><span>Integrantes:</span></li>
            <li><span>550200 - Leonardo Oliveira Esparza</span></li>
            <li><span>551821 - Lucas Serbato de Barros</span></li>
            <li><span>552421 - Flavio Sousa Vasconcelos</span></li>
            <li><span>552368 - Wellington Urcino da Silva</span></li>
            <li><span>550687 - Phablo Isaias Silva Santos</span></li>
        </ul>

        <div>
            <h3 class="logo">SmartHydro</h3>
        </div>

    </footer>
</body>

</html>